*{
     margin:0;
     padding:0;
}
body{
	color:#000;
	font-family:"arial Black", sans-serif;

}
header{
	background: none repeat scroll 0 0 #F3F3F3;
	margin:3px auto;
	max-width:100%;
	padding:5px 0px;
	text-align:center;
}


nav ul{
	padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
}
nav li {
	display: inline;

}
nav a{
	color:rgb(0,162,232);
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
#enlaces:hover{
	background: rgb(0,162,232);
	-ms-transition:all 1s ease-out;
	-moz-transition:all 1s ease-out;
	-o-transition:all 1s ease-out;
	-webkit-transition:all 1s ease-out;
	transition:all 1s ease-out;
}
#enlaces{
	ms-transition:all 1s ease-in;
	-moz-transition:all 1s ease-in;
	-o- -transition:all 1s ease-in;
	-webkit-transition:all 1s ease-in;
	transition:all 1s ease-in;ç
}

a:hover{
	color: #FFF;
}

a#pull{
	display: none;
}

#pull{
	color: rgb(216,216,216);
}
#pull:hover{
	color: #FFF;
}

@media(min-width: 1080px){
	nav a{
		width: 95px;
	}
	#menu{
		background: none repeat scroll 0 0 #f3f3f3;
		height: 60px;
	}
	#enlaces{
		padding: 10px;
	}
	#logo{
		margin: 5px;
		background: url(../images/encuesta1.png)no-repeat;
		width: 200px;
		height: 100px;
		display: inline-block;
		position: absolute;
		left: 30px;
		top: 0px;
	}
	#logo:hover{
		background: url(../images/encuesta2.png)no-repeat;
	}
	#logo:active{
		background: url(index.oho)no-repeat;
	}

}
@media(max-width: 1024px){
	nav{
		width: 95px;
	}
	nav{
		width: 100px;
	}
	#enlaces{
		font-size: 13px;
	}
	#logo{
		background: url(../images/encuesta3.png)no-repeat;
		width: 200px;
		height: 100px;
		display: inline-block;
		position: absolute;
		left: 30px;
		top: 0px;
	}
	#logo:hover{
		background: url(../images/encuesta4.png)no-repeat;
	}
}
@media(max-width: 800px){

}
@media(max-width: 768px){
	nav{
		width: 100%;
	}
	nav a {
		width: 80px;
	}
	#enlaces{
		font-size: 10px;
	}
	#logo{
		width: 130px;
	}

}
@media(max-width: 685px){
	nav{
		width: 100px;
	}
	nav a {
		width: 75px;
	}
	#logo{
		left: 0px;
		top: 0px;
	}
	#enlaces{
		font-size: 11px;
		padding: 0px;
	}

}
@media(max-width: 600px){
	nav a {
		width: 63px;
	}
	#enlaces{
		font-size: 11px;
	}
	#logo{
		width: 130px;
	}
}
@media(max-width: 568px){
	#menu{
		border-bottom: 0;
		height: auto;
		background: #FFF;
	}
	nav ul {
		width: 100%;
		display: block;
		height: auto;
		display: none;
	}
	nav a {
		text-align: center;
		width: 100%;
		text-indent: 25px;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
	nav #pull{
		display: block;
		background: #00a2e8 url(../images/encuesta3.png)no-repeat;
		width: 100%;
		position: relative;
	}
	nav #pull:haver {
		display: block;
		background: #00a2e8 url(../images/encuesta4.png)no-repeat;
	}
	#pull:after{
		content: "";
		background: url(../images/nav-icon.png)no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	#logo{
		display: none;
	}
}
@media(max-width: 480px){

}
@media(max-width: 380px){

}
@media(max-width: 320px){

}
@media(max-width: 240px){

}
